@{
    ViewBag.Title = "Kontakt oss";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<div class="row">
    <div class="col-lg-4">
        <address>
            Ramberg Manufaktur<br />
            8380 Ramberg<br />
            <abbr title="Phone">Tlf:</abbr>760 93262<br />
            <abbr title="Fax">Fax:</abbr>760 93765<br />
        </address>
        <address>
            Epost: <a href="mailto:rambergmanufaktur@yahoo.no">RambergManufaktur@yahoo.no</a><br />
        </address>
        <h3>Åpningstider:</h3>
        <dl>
            <dt>Mandag</dt>
            <dd>09:00 - 16:00</dd>
            <dt>Tirsdag</dt>
            <dd>09:00 - 16:00</dd>
            <dt>Onsdag</dt>
            <dd>09:00 - 16:00</dd>
            <dt>Torsdag</dt>
            <dd>09:00 - 19:00</dd>
            <dt>Fredag</dt>
            <dd>09:00 - 16:00</dd>
            <dt>Lørdag</dt>
            <dd>10:00 - 14:00</dd>
        </dl>
    </div>
    <div class="col-lg-8">
        <map>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47638.63664820774!2d13.232728928051278!3d68.09142669750407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc9b784be7572cc11!2sRamberg+Manufaktur!5e0!3m2!1sno!2sno!4v1397589732708" width="600" height="450" frameborder="0" style="border:0"></iframe>
        </map>
    </div>
</div>