@{
    ViewBag.Title = "Dame";
}

<h2>Dame</h2>

<div>Ramberg Manufaktur er en nisjebutikk for den kvalitetsbevisste dame.</div>
<div>Vi tilbyr god personlig service i et hyggelig miljø på Ramberg.</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">

            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="/Content/Images/BH.JPG" title="Undertøy for dame" class="img-responsive" />
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="/Content/Images/topper.JPG" title="Topper og overdeler" class="img-responsive" />
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="/Content/Images/Strompebukser.JPG" title="Strømpebukser og sokker" class="img-responsive" />
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="/Content/Images/Jakker.JPG" title="Jakker og yttertøy" class="img-responsive" />
                </div>
            </div>

        </div>
        <div class="col-lg-2">

            <div class="panel panel-default">
                <div class="panel-body bg-info">
                    Ramberg Manufaktur er forhandler av blant annet følgende merkevarer for dame:
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="http://www.elton.dk/" target="_blank"><img src="/Content/Logoer/Elton.PNG" alt="Elton.dk" class="img-responsive" /></a>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="http://www.jensenwomen.dk/" target="_blank"><img src="/Content/Logoer/Jensen.PNG" alt="JensenWoman.dk" class="img-responsive" /></a>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="http://www.signature.dk" target="_blank"><img src="/Content/Logoer/Signature.jpg" alt="Signature.dk" class="img-responsive" /></a>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="http://levolution.no/" target="_blank"><img src="/Content/Logoer/levolution.jpg" alt="levolution.no" class="img-responsive" /></a>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="http://www.trofe.se/" target="_blank"><img src="/Content/Logoer/trofé.PNG" alt="trofe.se" class="img-responsive" /></a>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="http://laurie.inet.dk/dk/" target="_blank"><img src="/Content/Logoer/LauRie.PNG" alt="laurie.inet.dk" class="img-responsive" /></a>
                </div>
            </div>

        </div>
    </div>
</div>