@{
    ViewBag.Title = "Gardiner";
}

<h2>Gardiner</h2>

<div>Vi leverer målsydde gardiner, metervarer og ferdigsydde gardiner.</div>
<div>Vi har et eksklusivt utvalg - alt fra romantisk via maritimt til klassisk stil</div>
<div>Vi er også leverandør av spesialtilpasset gardinutstyr fra Royal fabrikker og Kirch, blant annet rullegardiner, persienner, plissegardiner, solavskjerming og lameller</div>
<div>Vi leverer og monterer også gardiner i større offentlig og private bygg.</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">

            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="~/Content/Images/gardiner2.jpg" title="Gardiner på display" class="img-responsive" />
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="/Content/Images/gardiner3.jpg" title="Metervis med stoffer" class="img-responsive" />
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="/Content/Images/julegardiner.jpg" title="Årets julegardiner" class="img-responsive" />
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="/Content/Images/julegardiner2.jpg" title="Julegardiner til kjøkken, stue og soverom" class="img-responsive" />
                </div>
            </div>

        </div>
        <div class="col-lg-2">
            
            <div class="panel panel-default">
                <div class="panel-body bg-info">
                    Ramberg Manufaktur er forhandler av blant annet følgende merkevarer innen gardiner:
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="http://www.pagunette.no" target="_blank"><img src="/Content/Logoer/Pagunette.JPG" class="img-responsive" /></a>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="http://www.gardelo.no" target="_blank"><img src="/Content/Logoer/gardelo.jpg" class="img-responsive" /></a>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="http://www.kirsch.no" target="_blank"><img src="/Content/Logoer/kirsch.gif" class="img-responsive" /></a>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="http://royalsolskjerming.no/" target="_blank"><img src="/Content/Logoer/royal.png" class="img-responsive" /></a>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="http://www.gardelo.no" target="_blank"><img src="/Content/Logoer/Gladehjem.jpg" class="img-responsive" /></a>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="http://www.gardelo.no" target="_blank"><img src="/Content/Logoer/Nova_Textile.jpg" class="img-responsive" /></a>
                </div>
            </div>
        </div>
    </div>
</div>