
@{
    ViewBag.Title = "Garn";
}

<h2>Garn</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">

            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="/Content/Images/garn.JPG" title="Stort utvalg av garn" class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="col-lg-2">

            <div class="panel panel-default">
                <div class="panel-body bg-info">
                    Ramberg Manufaktur er forhandler av blant annet følgende merkevarer innen garn:
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="http://www.viking-garn.no/" target="_blank"><img src="/Content/Logoer/Viking.png" alt="Viking Garn" class="img-responsive" /></a>
                </div>
            </div>

        </div>
    </div>
</div>