
@{
    ViewBag.Title = "Garn";
}

<h2>Garn</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">

            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="/Content/Images/garn.JPG" title="Stort utvalg av garn" />
                </div>
            </div>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
</div>