@{
    ViewBag.Title = "Hjem";
}
<div class="jumbotron">
    <h1>Ramberg Manufaktur</h1>
    <p class="lead">En fin nisjebutikk på Ramberg for kvinner og menn 25+</p>
    <p><a href="http://rambergmanufaktur.azurewebsites.net" class="btn btn-primary btn-large">Les mer &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hva har vi?</h2>
        <p>
            På Ramberg Manufaktur finner du det siste innen gardiner, dameklær, sysaker, strikkerekvisita, vinterklær og mye mer.
        </p>
        <p><a class="btn btn-default" href="http://rambergmanufaktur.azurewebsites.net">Les mer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Klær</h2>
        <p>Alt slags klær for Lofot-vær</p>
        <p>Vi har det meste innen dameklær, også i store størrelser.</p>
        <p>Vi har også herreklær og rorbu-kolleksjon</p>
        <p><a class="btn btn-default" href="http://rambergmanufaktur.azurewebsites.net">Les mer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gardiner</h2>
        <p>Vi har et rikt utgalg av gardiner, og syr etter mål. Kontakt oss for et uforpliktende tilbud</p>
        <p><a class="btn btn-default" href="http://rambergmanufaktur.azurewebsites.net">Les mer &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div id="instafeed"></div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/instafeed.min.js")
    <script type="text/javascript">
        var feed = new Instafeed({
            get: 'tagged',
            tagName: 'RambergManufaktur',
            clientId: 'a19ca725e1b247aabf1d29e4704987d5'
        });
        feed.run();
    </script>
}
