@{
    ViewBag.Title = "Om Ramberg Manufaktur";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Marit Friis Eliassen har drevet Ramberg Manufaktur på Ramberg i Lofoten siden 13. oktober 1975</p>
<p>Hun overtok da butikken fra Lillemor og Hans Jusnes. I desember 1980 flyttet butikken til dagens plassering sentralt på Ramberg.</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="/Content/Images/RambergManufaktur.JPG" title="Ramberg Manufaktur fasade" class="img-responsive" />
                    Ramberg Manufaktur fasade.
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="/Content/Images/NaeringsOgLokalsamfunnsPris2012.JPG" title="Flakstad kommunes Nærings og Lokalsamfunns Pris 2012" class="img-responsive" />
                    I 2012 mottok Marit Flakstad kommunes Nærings og Lokalsamfunns Pris 2012.
                </div>
            </div>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
</div>
